<thead>
  <tr class="text-left">
    <th>
      <%= link_to all_sub_account_transactions_path(params.permit!.to_h.merge(sort: toggle_sort(params[:sort], "date"))), class: "btn btn-link p-0" do %>
        Date
        <% if params[:sort] == "date_asc" %>
          <i class="fas fa-arrow-up"></i>
        <% elsif params[:sort] == "date_desc" %>
          <i class="fas fa-arrow-down"></i>
        <% end %>
      <% end %>
    </th>
    <th>
      <%= link_to all_sub_account_transactions_path(params.permit!.to_h.merge(sort: toggle_sort(params[:sort], "title"))), class: "btn btn-link p-0" do %>
        Title
        <% if params[:sort] == "title_asc" %>
          <i class="fas fa-arrow-up"></i>
        <% elsif params[:sort] == "title_desc" %>
          <i class="fas fa-arrow-down"></i>
        <% end %>
      <% end %>
    </th>
    <th>
      <%= link_to all_sub_account_transactions_path(params.permit!.to_h.merge(sort: toggle_sort(params[:sort], "amount"))), class: "btn btn-link p-0" do %>
        Amount
        <% if params[:sort] == "amount_asc" %>
          <i class="fas fa-arrow-up"></i>
        <% elsif params[:sort] == "amount_desc" %>
          <i class="fas fa-arrow-down"></i>
        <% end %>
      <% end %>
    </th>
    <% if selected_columns.include?('account') %>
      <th>
        <%= link_to all_sub_account_transactions_path(params.permit!.to_h.merge(sort: toggle_sort(params[:sort], "account"))), class: "btn btn-link p-0" do %>
          Account
          <% if params[:sort] == "account_asc" %>
            <i class="fas fa-arrow-up"></i>
          <% elsif params[:sort] == "account_desc" %>
            <i class="fas fa-arrow-down"></i>
          <% end %>
        <% end %>
      </th>
    <% end %>
    <% if selected_columns.include?('creator') %>
      <th>
        <%= link_to all_sub_account_transactions_path(params.permit!.to_h.merge(sort: toggle_sort(params[:sort], "creator"))), class: "btn btn-link p-0" do %>
          Creator
          <% if params[:sort] == "creator_asc" %>
            <i class="fas fa-arrow-up"></i>
          <% elsif params[:sort] == "creator_desc" %>
            <i class="fas fa-arrow-down"></i>
          <% end %>
        <% end %>
      </th>
    <% end %>
    <% if selected_columns.include?('category') %>
      <th>
        <%= link_to all_sub_account_transactions_path(params.permit!.to_h.merge(sort: toggle_sort(params[:sort], "category"))), class: "btn btn-link p-0" do %>
          Category
          <% if params[:sort] == "category_asc" %>
            <i class="fas fa-arrow-up"></i>
          <% elsif params[:sort] == "category_desc" %>
            <i class="fas fa-arrow-down"></i>
          <% end %>
        <% end %>
      </th>
    <% end %>
    <th>
      <div class="dropdown">
        <button class="btn btn-link p-0" type="button" id="columnDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-cog"></i>
        </button>
        <ul class="dropdown-menu p-2" aria-labelledby="columnDropdown">
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="account" id="accountColumn" <%= 'checked' if @selected_columns.include?('account') %>>
              <label class="form-check-label" for="accountColumn">
                Account
              </label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="creator" id="creatorColumn" <%= 'checked' if @selected_columns.include?('creator') %>>
              <label class="form-check-label" for="creatorColumn">
                Creator
              </label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="category" id="categoryColumn" <%= 'checked' if @selected_columns.include?('category') %>>
              <label class="form-check-label" for="categoryColumn">
                Category
              </label>
            </div>
          </li>
        </ul>
      </div>
    </th>
  </tr>
</thead>

<style>
.table-responsive {
  overflow-x: auto;
}

.table-sm th, .table-sm td {
  padding: 0.2rem; /* Reduce padding */
  font-size: 0.875rem; /* Reduce font size */
}

.centered-badge {
    margin: 0 auto;
  }


@media (max-width: 576px) {
  .table-sm th, .table-sm td {
    padding: 0.1rem; /* Further reduce padding on small screens */
    font-size: 0.75rem; /* Further reduce font size on small screens */
  }
}
</style>