<% if @main_transactions.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Amount</th>
      </tr>
    </thead>

    <tbody>
      <% @main_transactions.each do |transaction| %>
        <tr>
          <!-- Date -->
          <td>
            <span class="text-muted"><%= l(transaction.created_at.to_date, format: :short) %></span>
          </td>

          <!-- Title -->
          <td>
            <%= link_to transaction.title.truncate(20), main_account_main_transaction_path(transaction.main_account, transaction), class: "fw-bold text-decoration-none" %>
          </td>

          <!-- Amount -->
          <td>
            <span class="badge <%= transaction.transaction_kind == 'expense' ? 'bg-danger' : 'bg-success' %>">
              <%= number_to_currency(transaction.amount, unit: transaction.main_account&.currency || "€") %>
            </span>
          </td>
          
          <!-- Actions -->
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              </button>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to new_main_account_main_transaction_path(
                                transaction.main_account, 
                                main_transaction: { 
                                  title: transaction.title, 
                                  amount: transaction.amount, 
                                  transaction_kind: transaction.transaction_kind 
                                }
                              ), 
                              class: "dropdown-item" do %>
                    <i class="fas fa-redo-alt text-primary"></i> New
                  <% end %>
                </li>
                <li>
                  <%= link_to repeat_without_edit_main_account_main_transaction_path(transaction.main_account, transaction), 
                              data: { turbo_method: :post }, 
                              class: "dropdown-item" do %>
                    <i class="fas fa-clone text-success"></i> Duplicate
                  <% end %>
                </li>
                <li>
                  <%= link_to edit_main_account_main_transaction_path(transaction.main_account, transaction), 
                              class: "dropdown-item" do %>
                    <i class="fas fa-edit text-warning"></i> Edit
                  <% end %>
                </li>
                <li>
                  <%= link_to main_account_main_transaction_path(transaction.main_account, transaction), 
                              data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this transaction?" }, 
                              class: "dropdown-item text-danger" do %>
                    <i class="fas fa-trash-alt text-danger"></i> Delete
                  <% end %>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% elsif @selected_main_account && @selected_main_account.sub_accounts.any? %>
  <p class="alert alert-info">
    <i class="fas fa-info-circle me-2"></i>No transactions added yet.
  </p>
<% end %>