<h1>MainAccount Transactions</h1>

<% if @main_transactions.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Amount</th>
        <th>MainAccount</th>
      </tr>
    </thead>

    <tbody>
      <% @main_transactions.each do |transaction| %>
        <tr>
          <!-- Date -->
          <td>
            <span class="text-muted"><%= l(transaction.created_at, format: :short) %></span>
          </td>

          <!-- Title -->
          <td>
            <%= link_to transaction.title, main_account_main_transaction_path(transaction.main_account, transaction), class: "fw-bold text-decoration-none" %>
          </td>

          <!-- Amount -->
          <td>
            <span class="badge <%= transaction.transaction_kind == 'expense' ? 'bg-danger' : 'bg-success' %>">
              <%= number_to_currency(transaction.amount, unit: transaction.main_account&.currency || "€") %>
            </span>
          </td>

          <!-- MainAccount -->
          <td>
            <%= link_to transaction.main_account.title, 
                        main_account_path(transaction.main_account), 
                        class: "text-decoration-none fw-bold" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="alert alert-info">
    <i class="fas fa-info-circle me-2"></i>No transactions added yet.
  </p>
<% end %>

<%= link_to "New Transaction", new_main_account_main_transaction_path(@main_account), class: "btn btn-success" %>
