<div class="card mb-1 shadow-sm" style="<%= 'cursor: pointer;' unless current_page?(main_account_sub_account_path(main_account, sub_account)) %> max-height: 130px; min-width: 150px;" 
     <% unless current_page?(main_account_sub_account_path(main_account, sub_account)) %>
       onclick="window.location='<%= main_account_sub_account_path(main_account, sub_account) %>';"
     <% end %>>
  <div class="card-body p-1">
    <div class="d-flex justify-content-between align-items-center">
      <h6 class="card-title mb-0">
        <%= sub_account.title.truncate(15) %>
      </h6>
    </div>
    <hr class="my-1">

    <div class="d-flex align-items-center mb-1">
      <i class="fas fa-wallet text-success me-1"></i>
      <p class="card-text fs-6 fw-bold text-success mb-0">
        <%= number_to_currency(sub_account.balance, unit: main_account.currency) %>
      </p>
    </div>
        
    <p class="card-text mb-1">
      <i class="fas fa-receipt"></i> <%= sub_account.sub_account_transactions.count %>
    </p>
  </div>
</div>