<%= render 'main_accounts/main_account_title' %>

<% if @main_account.owners.count > 1 %>
  <div class="owners-list row mt-2">
    <% @main_account.owners.each do |owner| %>
      <div class="col-3">
        <%= render 'main_accounts/owner_card', owner: owner, main_account: @main_account %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render 'main_accounts/messages' %>

<%= render 'main_accounts/zero_balance' %>

<%= render 'main_transactions/index' %>