<%= form_with(model: [@selected_main_account, @sub_account, category], local: true, data: { turbo: false }, class: "needs-validation") do |form| %>
  <% if category.errors.any? %>
    <div class="alert alert-danger">
        <% category.errors[:title].each do |message| %>
          <%= message %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Title -->
  <div class="mb-3">
    <%= form.label :title, "Category Title", class: "form-label" %>
    <%= form.text_field :title, class: "form-control", placeholder: "Enter category title", autofocus: true %>
  </div>

  <!-- Description -->
  <div class="mb-3">
    <%= form.label :description, "Category Description", class: "form-label" %>
    <%= form.text_area :description, class: "form-control", rows: 4, placeholder: "Enter category description (optional)" %>
  </div>

  <!-- Submit Button -->
  <div class="d-flex justify-content-between mt-4">
    <%= form.submit "Save Category", class: "btn btn-primary" %>
    <% if @category.persisted? %>
      <%= link_to "Cancel", main_account_sub_account_category_path(@selected_main_account, @sub_account, @category), class: "btn btn-secondary" %>
    <% else %>
      <%= link_to "Cancel", main_account_sub_account_categories_path(@selected_main_account, @sub_account), class: "btn btn-secondary" %>
    <% end %>  </div>
<% end %>
