<h1>Categories for <%= @sub_account.title %></h1>

<%= link_to "New Category", new_main_account_sub_account_category_path(@main_account, @sub_account) if @main_account.owner == current_user %>

<ul>
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.title, main_account_sub_account_category_path(@main_account, @sub_account, category) %>
      - <%= category.description %>
    </li>
  <% end %>
</ul>

<%= link_to "Back to SubAccounts", main_account_sub_accounts_path(@main_account) %>
