<h1>Transactions</h1>

<% if @transactions.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Category</th>
        <th>Account</th>
        <th>Creator</th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <!-- Date -->
          <td>
            <span class="text-muted"><%= l(transaction.created_at, format: :short) %></span>
          </td>

          <!-- Title -->
          <td>
            <%= link_to transaction.title, transaction_path(transaction), class: "fw-bold text-decoration-none" %>
          </td>

          <!-- Amount -->
          <td>
            <span class="badge <%= transaction.transaction_kind == 'expense' ? 'bg-danger' : 'bg-success' %>">
              <%= number_to_currency(transaction.amount, unit: "€") %>
            </span>
          </td>

          <!-- Type -->
          <td><%= transaction.transaction_kind.capitalize %></td>

          <!-- Category -->
          <td><%= transaction.category&.title || "<span class='text-muted'>Uncategorized</span>".html_safe %></td>

          <!-- Account -->
          <td>
            <% if transaction.main_account.present? %>
              <%= link_to transaction.main_account.title, 
                          main_account_path(transaction.main_account), 
                          class: "text-decoration-none fw-bold" %>
            <% else %>
              <%= link_to transaction.sub_account.title, 
                          main_account_sub_account_path(transaction.sub_account.main_account, transaction.sub_account), 
                          class: "text-decoration-none fw-bold" %>
            <% end %>
          </td>

          <!-- Creator -->
          <td>
            <span class="text-muted">
              <%= "#{transaction.creator.first_name} #{transaction.creator.last_name}" %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="alert alert-info">
    <i class="fas fa-info-circle me-2"></i>No transactions added yet.
  </p>
<% end %>

<%= link_to "New Transaction", new_transaction_path, class: "btn btn-success" %>
